<?php

//counters
//if you want to use custom chart colours, then you need to set a colour for all counters, otherwise default colours will be used
$counters = array(
    array(
        'name' => 'Zonnepanelen',
        'key' => 'MfbFdky9UtrwrYC2BCLZhK5Q',
        'counter' => 1,
        'unit' => 'kWh',
        'color' => '#00E396'
    ),
    array(
        'name' => 'Warmtepomp',
        'key' => 'MfbFdky9UtrwrYC2BCLZhK5Q',
        'counter' => 2,
        'unit' => 'kWh',
        'color' => '#FEB019'
    ),
    array(
        'name' => 'Auto',
        'key' => 'MfbFdky9UtrwrYC2BCLZhK5Q',
        'counter' => 3,
        'unit' => 'kWh',
        'color' => '#008FFB'
    ),
    array(
        'name' => 'Geleverd',
        'key' => 'MfbFdky9UtrwrYC2BCLZhK5Q',
        'counter' => 4,
        'unit' => 'kWh',
        'color' => '#FF4560'
    ),
    array(
        'name' => 'Teruggeleverd',
        'key' => 'MfbFdky9UtrwrYC2BCLZhK5Q',
        'counter' => 5,
        'unit' => 'kWh',
        'color' => '#775DD0'
    )
);

/*$custom_charts = array(
    array(
        'name' => 'Zonnepanelen totaal',
        'counters' => array(
            1 => 'add',
            6 => 'add'
        )
    ),
    array(
        'name' => 'Restverbruik (=zonnepanelen-teruglevering+levering-auto-warmtepomp)',
        'counters' => array(
            1 => 'add',
            5 => 'subtract',
            4 => 'add',
            3 => 'subtract',
            2 => 'subtract'
        )
    )
);*/

//use the table with daily/hourly aggregates for graphs (default), this is faster but requires a cronjob for calculateaggregates.php
$use_dailytable = TRUE;
$use_hourlytable = TRUE;

//user accounts
//passwords need to be encoded using encodepassword.php in a browser
$users = array(
    'defaultuser' => '$2y$10$a39r2zntqz0aoigzD8ccVu/6mayTA5p.CD6sG/ATJZnRrsgYB8lQm'
);

//mail settings
//no need to set this if you don't use the watchdog script
$cfg['mail']['server'] = 'smtp.example.com';      //Set the SMTP server to send through
$cfg['mail']['smtpauth']  = true;                 //Enable SMTP authentication
$cfg['mail']['smtpuser']  = 'user@example.com';   //SMTP username
$cfg['mail']['smtppass']  = 'secret';             //SMTP password
$cfg['mail']['smtpsecure'] = 'ENCRYPTION_SMTPS';  //ENCRYPTION_SMTPS, ENCRYPTION_STARTTLS or empty string
$cfg['mail']['smtpport'] = 465;                   //TCP port to connect to; use 587 if you have set `SMTPSecure = ENCRYPTION_STAR
$cfg['mail']['from'] = 'from@example.com';        //address to use as sender
$cfg['mail']['from_name'] = 'stroommeter';        //name to use as sender
$cfg['mail']['subject'] = 'stroommeter status';   //mail subject
$cfg['mail']['to'] = 'joe@example.net';           //address to send to

?>